<div class="container-fluid">
  <!-- Top Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Order App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row mt-3">
    <!-- Left Sidebar -->
    <div class="col-3" id="sidebar">
      <div class="list-group">
        <a
          routerLink="/user-profile"
          routerLinkActive="active"
          class="list-group-item list-group-item-action"
        >
          User Profile
        </a>
        <a
          routerLink="/products"
          routerLinkActive="active"
          class="list-group-item list-group-item-action"
        >
          Products
        </a>
        <a
          routerLink="/order"
          routerLinkActive="active"
          class="list-group-item list-group-item-action"
        >
          Order
        </a>
      </div>
    </div>

    <!-- Main Content -->
    <div class="col-9" id="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
